{% extends "layout.html" %}

{% block content %}
     <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Natural Languages Processing (NLP) examples in Web Using Flask</h1>
          <p class="lead text-black">
            <h3><b>Created by Dinesh Kumar, Alisetti Sai Vamsi, Ankita Sareen</b></h3>
            <h3><b>Mentored by Farhan Hai Khan, Tannistha</b></h3>
            <p>
          This app Analyse Sentiments, Polarity, Subjectivity, Keywords and Summarize the given text.</p>
            <p>
          In Sentiments it gives output in three Category "Positive" "Negative" and "Neutral".
            </p>
          </p>
          <p>
            <a href="https://github.com/Dineshkumar536" class="btn btn-primary my-2">Github Dinesh Kumar</a>
            <a href="https://www.linkedin.com/in/dinesh-kumar-573852152/" class="btn btn-secondary my-2">Linkedin Dinesh kumar</a>
            <a href="https://github.com/Vamsi995" class="btn btn-primary my-2">Github Alisetti Sai Vamsi </a>
            <a href="https://www.linkedin.com/in/sai-vamsi-4892a4197/" class="btn btn-secondary my-2">Linkedin Alisetti Sai Vamsi</a>
            <a href="https://github.com/Ankitasareen" class="btn btn-primary my-2">Github Ankita Sareen</a>
            <a href="https://www.linkedin.com/in/ankita-sareen-a85689199/" class="btn btn-secondary my-2">Linkedin Ankita Sareen</a>
            <a href="https://github.com/khanfarhan10" class="btn btn-primary my-2">Github Farhan Hai Khan</a>
            <a href="https://www.linkedin.com/in/fkpro/" class="btn btn-secondary my-2">Linkedin Farhan Hai Khan</a>
            <a href="https://github.com/paltannistha" class="btn btn-primary my-2">Github Tannistha Pal</a>
            <a href="https://www.linkedin.com/in/paltannistha/" class="btn btn-secondary my-2">Linkedin Tannistha Pal</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="static/images/1.png" alt="Card image cap" style="height: 250px;">
                <div class="card-body">
                  <p class="card-text">Sentiment analysis refers to the use of natural language processing, text analysis, computational linguistics, and biometrics to systematically identify, extract, quantify, and study affective states and subjective information.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="/nlpsentiment">
                        <button type="button" class="btn btn-sm btn btn-success">Sentiment Analysis</button>
                      </a>
                    </div>
                    <small class="text-muted">Dinesh Kumar</small>
                  </div>
                </div>
              </div>
            </div>
           

{%  endblock %}
   